/* styles/AboutUs.module.css */
.container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .main {
    width: 100%;
  }
  
  .aboutContent {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  .aboutImage {
    flex-shrink: 0; 
  }
  
  .aboutImage img {
    border-radius: 8px;
  }
  
  .aboutText {
    max-width: 600px;
    padding: 2rem;
  }
  
  .title {
    font-size: 3rem;
    margin-bottom: 1rem;
  }
  